* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  min-height: 200vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: rgb(195, 203, 211);
  z-index: 1000;
}

.App {
  margin-top: 6rem;
  width: 80vw;
}

.table_name {
  position: fixed;
  top: 3rem;
  height: 3rem;
  width: 80vw;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid red;
  z-index: 1000;
  background: white;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 5px 15px;
  background: #cbc5c5;
}

.select {
  outline: none;
  font-size: 14px;

  border-radius: 5px;
}
.select:hover {
  cursor: pointer;
  background: rgba(125, 125, 145, 0.5);
}

.option {
  font-size: 14px;
}

.childFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .post_btns {
  display: flex;
}

.post-enter {
  transform: translateX(-850px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-850px);
  transition: all 500ms ease-in;
}

.page_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid teal;
  border-radius: 5px;
  margin-bottom: 80px;
  margin-left: 5px;
  cursor: pointer;
}

.page:hover {
  border: 2px solid rgb(178, 20, 20);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.page_clicked {
  background: rgba(15, 105, 105, 0.5);
}



.navbar_links {
  margin-left: auto;
}

.link {
  margin-left: 20px;
} */
