* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: red;
  text-decoration: underline;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: rgb(195, 203, 211);
  z-index: 1000;
}

.navbar_button {
  width: 90px;
  height: 30px;
  margin-right: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.navbar_button:hover {
  background: rgb(155, 155, 223);
  transition: 0.4s ease-in-out;
}

.childFilter {
  position: fixed;
  top: 3rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  background: white;
  border-bottom: 1px solid red;
  padding-bottom: 0.5rem;
}

.childFilter_item {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.childFilter_item h2 {
  width: 100%;
}

.App {
  margin-top: 8.8rem;
  width: 80vw;
  min-height: 400vh;
}

.table_name {
  position: fixed;
  top: 6.5rem;
  height: 3rem;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: 14px;
  background: white;
}

.table_name_lastname {
  padding-left: 1vw;
}

.table_name_age {
  padding-right: 3vw;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 5px 15px;
  background: #cbc5c5;
  font-size: 12px;
}

.item_h3 {
  padding-right: 8vw;
  width: 10px;
}

.item_age {
  padding-right: 15vw;
  width: 20px;
  display: flex;
  justify-content: center;
}

.item_birth {
  padding-right: 1vw;
}

.select {
  height: 4vh;
  width: 25vw;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
}
.select:hover {
  cursor: pointer;
  background: rgba(125, 125, 145, 0.5);
}

.option {
  font-size: 14px;
}

.links {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 520px) {
  * {
    font-size: 14px;
  }
  .navbar {
    padding: 0 10px;
  }
  .links {
    flex-direction: column;
  }

  .navbar_button {
    font-size: 12px;
    width: 60px;
    height: 20px;
    margin-right: 0;
    border-radius: 3px;
  }
  .childFilter {
    padding-top: 0.5rem;
    height: 4.5rem;
  }
  .table_name {
    top: 7.5rem;
  }
  .table_name h5 {
    font-size: 12px;
  }
  .table_name_lastname {
    padding-right: 8vw;
  }
  .App {
    margin-top: 9.8rem;
  }
  .item {
    padding: 5px 5px;
  }
  .item_h3 {
    padding-right: 6vw;
  }
  .item_age {
    padding-right: 15vw;
  }

  .option {
    font-size: 12px;
  }
  .select {
    font-size: 11px;
    height: 4vh;
  }
}

/* .post_btns {
  display: flex;
}

.post-enter {
  transform: translateX(-850px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-850px);
  transition: all 500ms ease-in;
}

.page_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid teal;
  border-radius: 5px;
  margin-bottom: 80px;
  margin-left: 5px;
  cursor: pointer;
}

.page:hover {
  border: 2px solid rgb(178, 20, 20);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.page_clicked {
  background: rgba(15, 105, 105, 0.5);
}



.navbar_links {
  margin-left: auto;
}

.link {
  margin-left: 20px;
} */
