.header {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100vw;
  background: rgb(2, 187, 187);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.table_name_fam {
  position: fixed;
  top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 3rem;
  background: white;
  border-bottom: 1px solid red;
}
.table_name_fam > h5:nth-child(n) {
  width: 160px;
}

.table_name_fam_num {
  padding-left: 1vw;
}

.table_name_child {
  padding-right: 1vw;
}

.family_items {
  margin-top: 6.5rem;
  width: 80vw;
  min-height: 200vh;
}

.family {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cbc5c5;
  margin-top: 15px;
  padding: 5px 15px;
}
.family_name {
  padding-right: 10vw;
}

.family_qunt {
  padding-right: 2vw;
}

@media (max-width: 520px) {
  .header > p,
  a {
    font-size: 14px;
  }
  .header > a {
    font-size: 14px;
  }

  .table_name_fam > h5:nth-child(n) {
    font-size: 12px;
    width: 25vw;
  }
  .family > p:nth-child(n) {
    font-size: 14px;
  }
  .family_name {
    padding-right: 4vw;
  }
  .table_name_child {
    text-align: right;
  }
}
