.stat_header {
  height: 3rem;
  width: 100vw;
  background: rgb(2, 187, 187);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.stat_links {
  display: flex;
  justify-content: space-between;
  width: 20vw;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 3rem;
  background: white;
  border-bottom: 1px solid red;
}

.stat_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cbc5c5;
  margin-top: 15px;
  padding: 5px 15px;
  width: 80vw;
}
.stat_table_year {
  padding-right: 13vw;
}
.stat_table_quant {
  width: 20px;
}

@media (max-width: 520px) {
  .stat_header > p,
  div > a {
    font-size: 14px;
  }
  .stat_header > div {
    font-size: 12px;
  }
  .stat_year {
    padding-left: 10vw;
  }
  .stat_links {
    width: 28vw;
  }
  .stat_table_year {
    padding-right: 9vw;
  }
}
